.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    padding-bottom: 2rem;
    background-color: #FFFFFF;

    @include atSmall {
        padding: 2rem;
    }

    p, h1 {
        margin-bottom: 1.2rem;
        color: #393E4D;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.5rem;
    }
}