.format-container {
    .format {
        width: 100%;
        
        .format-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            margin: 0 auto;
            @include atSmallMedium {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }

            &__block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: $padding-medium;
                min-height: 400px;
                position: relative;
                overflow: hidden;
    
                h2 {
                    @include header-medium;
                    margin-bottom: 3rem;
                    z-index: 0;
                }
                
                p {
                    margin: 0;
                    font-size: $bodyText;
                    @include cta;
                    border: none;
                    align-self: flex-start;

                    img {
                        position: relative;
                        opacity: 1;
                        width: 30px;
                        max-width: 30px;
                    }
                }
    
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    z-index: 2;
                    opacity: 0;
                    height: 100%;
                    width: 0;
                    cursor: pointer;
                    transition: opacity 300ms linear;
                }
    
                &:hover img {
                    opacity: 1;
                    width: 100%;
                    transition: opacity 300ms linear;
                }
            }
        } 
    }
}