.full-bleed-image {
    width: 100%;
    max-height: 800px;
    @include atSmallMedium {
        max-height: 600px;
    }

    img {
        width: 100%;
        max-height: 800px;
        min-height: 800px;
        object-fit: cover;
        @include atSmallMedium {
            max-height: 600px;
            min-height: 600px;
        }
    }
}