.image-block {
    width: 100%;

    .image-block-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: $padding-medium;

        img {
            width: 100%;
            height: 100%;
        }
    }
}