.bowyer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-reg;
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    z-index: 900;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;

        a:link, a:visited {
            display: block;
            color: #000000;
            text-decoration: none;
            position: relative;

            img {
                width: 100%;
            }

            .logo-o {
                position: absolute;
                width: 1.9rem;
                top: 33%;
                left: 23%;
                transform: translate(-50%, -50%);
            }
        }

        &:hover a .logo-o {
            animation: rotateO 1s ease-in-out;
        }
    }

    &__burger {
        width: 3.7rem;
        height: 3.7rem;
        position: relative;
        cursor: pointer;
        z-index: 999;

        img {
            width: 100%;
        }

        .target-norm {
            position: absolute;
            top: 0;
            left: 0;
            visibility: visible;
            opacity: 1;
            width: 100%;
            height: auto;
            transition: opacity 500ms ease-in-out;

            &.norm-open {
                visibility: hidden;
                opacity: 0;
                width: 0;
                height: 0;
                transition: opacity 500ms ease-in-out;
            }
        }

        .target-clicked {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            width: 0;
            height: 0;
            transition: opacity 500ms ease-in-out;

            &.clicked-open {
                visibility: visible;
                opacity: 1;
                width: 100%;
                height: auto;
                transition: opacity 500ms ease-in-out;
            }
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100vh;
        background-color: gray;
        transition: all 400ms ease-in-out;
        z-index: 900;

        &.show {
            right: 0;
            transition: all 400ms ease-in-out;
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            li {
                list-style: none;
                color: #ffffff;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}


@keyframes rotateO {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: all 200ms ease-in-out;
    }
    50% {
        transform: translate(-50%, -50%) rotate(25deg);
        transition: all 200ms ease-in-out;
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
        transition: all 200ms ease-in-out;
    }
}