.text-cta {
    width: 100%;

    &.scroll-into-view {
        background-color: #F6F1EC !important;
        transition: all 2s linear;
    }

    .text-cta-inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 400px;
        transition: all 2s linear;
        @include atSmallMedium {
            flex-direction: column;
            justify-content: center;
        }

        &__headline {
            width: 50%;
            padding: 0 3rem;
            h1 {
                @include header;
            }
    
            @include atSmallMedium {
                width: 100%;
    
                h1 {
                    text-align: center;
                }
            }
        }
    
        &__content {
            width: 50%;
            padding: 0 3rem;
    
            .text-cta-inner-description {
                font-size: $bodyText;
                margin-bottom: 2.5rem;
                @include atSmallMedium {
                    text-align: center;
                }
            }
    
            .text-cta-inner-cta {
                @include cta;
                width: 20rem;
                @include atSmallMedium {
                    width: 90%;
                    margin: 0 auto;
                }
            }
    
            @include atSmallMedium {
               width: 100%;
            }
        }
    }
}