@font-face { 
    font-family: 'georgia'; 
    src: url('./fonts/georgia.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: 'galano-classic'; 
    src: url('./fonts/font.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: 'galano-classic-reg'; 
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}