.project {
    &__image-text {
        display: flex;
        padding: 0 $padding-reg;
        @include atMedium {
            flex-direction: column;
        }
        @include atSmall {
            padding: 1rem;
        }

        .image-text-content {
            width: 40%;
            padding: $padding-medium $padding-reg;

            .project-cta {
                @include cta;
                margin-top: 2rem;
            }

            @include atMedium {
                width: 100%;
                margin-bottom: 2rem;
                padding-right: 0;
            }
            @include atSmall {
                margin-bottom: 0;
                padding-bottom: 0;
                padding: 1rem;
            }

            h1 {
                font-size: $headline;
                margin-bottom: 2rem;
            }

            p {
                font-size: $bodyText;
                margin-bottom: 1rem;
            }
        }

        .image-text-image {
            width: 60%;
            padding: $padding-medium $padding-reg;
            @include atMedium {
                width: 100%;
            }
            @include atSmall {
                padding: 1rem;
            }

            img {
                width: 100%;
            }
        }
    }
}