.project {
    &__text-block {
        min-height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        @include atSmallMedium {
            min-height: 500px;
            justify-content: center;
        }
        @include atSmall {
            min-height: 100%;
            padding: 2rem;
            padding-top: 8rem;
        }

        .inner {
            padding-left: 10rem;
            @include atSmallMedium {
                padding: 0;
            }

            h1 {
                font-size: $headline;
                margin-top: -5.5rem;
                max-width: 500px;
                margin-bottom: 1.5rem;
                padding: 0 $padding-reg;
                @include atSmallMedium {
                    margin-top: 0;
                }
            }

            p {
                font-size: $bodyText;
                padding: 0 $padding-reg;
            }
        }
    }
}