* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.app {
    overflow: hidden;
}

body {
    font-family: proxima-nova, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: proxima-nova, sans-serif;
}

p,ul,li {
    font-family: 'georgia';
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}