* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.app {
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'galano-classic';
}

p,ul,li, a {
    font-family: 'galano-classic-reg';
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

p {
    line-height: 27px;
}