//Media Queries

@mixin atSmall {
    @media (max-width: 530px) {
        @content;
    }
}

@mixin atSmallMedium {
    @media (max-width: 750px) {
        @content;
    }
}
  
@mixin atMedium {
    @media (max-width: 960px) {
        @content;
    }
}

@mixin atLarge{
    @media (max-width: 1230px) {
        @content;
    }
}

// Center x and y 
@mixin center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// CTA
@mixin cta {
    border: 1px solid #000;
    padding: 1rem;
    text-align: center;
    display: block;
    cursor: pointer;
}