//Media Queries

@mixin atSmall {
    @media (max-width: 530px) {
        @content;
    }
}

@mixin atSmallMedium {
    @media (max-width: 750px) {
        @content;
    }
}
  
@mixin atMedium {
    @media (max-width: 960px) {
        @content;
    }
}

@mixin atLarge{
    @media (max-width: 1230px) {
        @content;
    }
}

// Center x and y 
@mixin center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// CTA
@mixin cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 200ms ease-in-out;

    img {
        width: 30px;
        margin-left: 1.3rem;
        margin-top: 5px;
        transition: all 200ms ease-in-out;
    }

    &:hover img {
        margin-left: 1.9rem;
        transition: all 200ms ease-in-out;
    }
}

@mixin header {
    margin: 0;
    font-size: $headline;
    line-height: 37px;
    z-index: 1;
    color: #393E4D;
    letter-spacing: 3px;
    @include atSmallMedium {
        font-size: $headlineTablet;
        line-height: 44px;
        align-self: flex-start;
    }
    @include atSmall {
        font-size: $headlineMobile;
        line-height: 44px;
        margin-bottom: 1rem;
    }
}

@mixin header-medium {
    margin: 0;
    font-size: $headline2;
    line-height: 40px;
    z-index: 1;
    @include atSmallMedium {
        font-size: $headline2Tablet;
        line-height: 35px;
        align-self: flex-start;
    }
}

@mixin paragraph {
    margin: 0;
    font-size: $bodyText;
}