// module padding
$padding-reg: 2rem;
$padding-medium: 4rem;

//colors
$tan: #F7F2EE;

// font size
$headline: 2.5rem;
$headlineTablet: 2.8rem;
$headlineMobile: 2.2rem;
$bodyText: 1rem;

$headline2: 2.5rem;
$headline2Tablet: 2rem;